.App {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  width: 250px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #333;
}

h1 {
  margin-bottom: 20px;
  color: #282c34;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

p:first-child {
  font-weight: bold;
}